<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MultiCalibOpticalBoB_Ver1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <MultiCalibOpticalBoB_Ver1.Properties.Settings>
            <setting name="BosaSNLen" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="BosaReportFile" serializeAs="String">
                <value />
            </setting>
            <setting name="OntType" serializeAs="String">
                <value>GW040H</value>
            </setting>
            <setting name="OntLoginUser" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="OntLoginPass" serializeAs="String">
                <value>1234</value>
            </setting>
            <setting name="ERInstrName" serializeAs="String">
                <value>DCAX86100D</value>
            </setting>
            <setting name="ERInstrGPIB" serializeAs="String">
                <value>GPIB1::6::INSTR</value>
            </setting>
            <setting name="ERInstrPort" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PWInstrName" serializeAs="String">
                <value>IQS1700</value>
            </setting>
            <setting name="PWInstrPort" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="SWInstrName" serializeAs="String">
                <value>IQS9100B</value>
            </setting>
            <setting name="SWInstrPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SqlName" serializeAs="String">
                <value>ANHHO\SQLEXPRESS</value>
            </setting>
            <setting name="SqlUser" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="SqlPass" serializeAs="String">
                <value>123</value>
            </setting>
            <setting name="SqlDb" serializeAs="String">
                <value>BosaReportDB</value>
            </setting>
            <setting name="enabletuningpower" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="enabletuninger" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="enabletxddmi" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="enablesignaloff" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="enablewriteflash" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="enableverifysignal" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EXFOIP" serializeAs="String">
                <value>192.168.1.18</value>
            </setting>
            <setting name="EXFOPort" serializeAs="String">
                <value>5024</value>
            </setting>
            <setting name="usbDebug1" serializeAs="String">
                <value />
            </setting>
            <setting name="usbDebug2" serializeAs="String">
                <value />
            </setting>
            <setting name="usbDebug3" serializeAs="String">
                <value />
            </setting>
            <setting name="usbDebug4" serializeAs="String">
                <value />
            </setting>
            <setting name="powerCableAtt" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="erCableAtt" serializeAs="String">
                <value>13.2</value>
            </setting>
        </MultiCalibOpticalBoB_Ver1.Properties.Settings>
    </userSettings>
</configuration>