<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MultiCalibOpticalBoB_Ver1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <MultiCalibOpticalBoB_Ver1.Properties.Settings>
            <setting name="BosaSNLen" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="BosaReportFile" serializeAs="String">
                <value />
            </setting>
            <setting name="OntType" serializeAs="String">
                <value>GW040H</value>
            </setting>
            <setting name="OntLoginUser" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="OntLoginPass" serializeAs="String">
                <value>ttcn@77CN</value>
            </setting>
            <setting name="ERInstrName" serializeAs="String">
                <value>DCAX86100D</value>
            </setting>
            <setting name="ERInstrGPIB" serializeAs="String">
                <value>GPIB0::7::INSTR</value>
            </setting>
            <setting name="ERInstrPort" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PWInstrName" serializeAs="String">
                <value>IQS1700</value>
            </setting>
            <setting name="PWInstrPort" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="SWInstrName" serializeAs="String">
                <value>IQS9100B</value>
            </setting>
            <setting name="SWInstrPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SqlName" serializeAs="String">
                <value>\SQLEXPRESS</value>
            </setting>
            <setting name="SqlUser" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="SqlPass" serializeAs="String">
                <value>123</value>
            </setting>
            <setting name="SqlDb" serializeAs="String">
                <value>BosaReportDB</value>
            </setting>
            <setting name="enabletuningpower" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="enabletuninger" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="enabletxddmi" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="enablesignaloff" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="enablewriteflash" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="enableverifysignal" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EXFOIP" serializeAs="String">
                <value>192.168.1.18</value>
            </setting>
            <setting name="EXFOPort" serializeAs="String">
                <value>5024</value>
            </setting>
            <setting name="usbDebug1" serializeAs="String">
                <value />
            </setting>
            <setting name="usbDebug2" serializeAs="String">
                <value />
            </setting>
            <setting name="usbDebug3" serializeAs="String">
                <value />
            </setting>
            <setting name="usbDebug4" serializeAs="String">
                <value />
            </setting>
            <setting name="powerCableAtt1" serializeAs="String">
                <value>4.02</value>
            </setting>
            <setting name="erCableAtt1" serializeAs="String">
                <value>18.80</value>
            </setting>
            <setting name="powerCableAtt2" serializeAs="String">
                <value>4.01</value>
            </setting>
            <setting name="erCableAtt2" serializeAs="String">
                <value>18.81</value>
            </setting>
            <setting name="powerCableAtt3" serializeAs="String">
                <value>4.03</value>
            </setting>
            <setting name="erCableAtt3" serializeAs="String">
                <value>18.82</value>
            </setting>
            <setting name="powerCableAtt4" serializeAs="String">
                <value>4.04</value>
            </setting>
            <setting name="erCableAtt4" serializeAs="String">
                <value>18.83</value>
            </setting>
            <setting name="enablewritemac" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MacLen" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="Mac6digits" serializeAs="String">
                <value>A4F4C2:A06518</value>
            </setting>
            <setting name="enabletuningcrossing" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="enablewriteapdlut" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="apdoption" serializeAs="String">
                <value />
            </setting>
        </MultiCalibOpticalBoB_Ver1.Properties.Settings>
    </userSettings>
</configuration>